[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
openpyxl = "*"
plotly-express = "*"
nbformat = "*"
python-dotenv = "*"
kaleido = "*"
dash = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.11"
